body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: black;
    position: relative;
}

.image {
    width: 20vmin;
    position: absolute;
    transform: translate(-50%,-50%);
}


.image[data-status='inactive']{
    display: none;
}


.image[data-status='active']{
    display: block;
}